@import '../styles/variables';

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf');
}

.app-background {
  background-color: $base-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.modal {
  width: $modal-width;
  height: $modal-height;
  padding: $modal-padding;
  border-radius: $modal-rounding;
  background-color: $modal-background;
  font-family: Poppins;
  overflow: hidden;

  ._content {
    height: $modal-content-height;

    ._header {
      width: $modal-header-width;
      height: $modal-header-height;
      font-size: $modal-header-font-size;
      font-weight: $modal-header-font-weight;
      line-height: $modal-header-line-height;
      text-align: left;
      color: $modal-header-color;
    }

    ._subheader {
      width: $modal-subheader-width;
      height: $modal-subheader-height;
      margin-top: $modal-gaps-between-lines;
      margin-left: 8px;
      font-size: $modal-subheader-font-size;
      font-weight: $modal-subheader-font-weight;
      line-height: $modal-subheader-line-height;
      letter-spacing: $modal-subheader-letter-spacing;
      text-align: left;
      color: $modal-subheader-color;
    }

    ._inputs {
      padding: $modal-inputs-padding;
      border-radius: $modal-inputs-rounding;
      background: $modal-background;
      border: $modal-inputs-border;
      border-color: $modal-inputs-border;

      &._area-code {
        @extend ._inputs;
        width: $area-code-width;
        margin-right: $area-code-gap;
        border-radius: $area-code-rounding;
      }

      &._number {
        @extend ._inputs;
        width: $number-width;
        margin-left: 10px;
        height: 32px;
      }
    }

    ._buttons {
      display: flex;
      justify-content: flex-end;
      height: $modal-button-height;
      font-family: Poppins;
      font-size: $modal-button-font-size;
      font-weight: $modal-button-font-weight;
      line-height: $modal-button-line-height;
      text-align: center;
      margin-top: $modal-gaps-between-lines;

      &._cancel-button {
        @extend ._buttons;
        float: left;
        width: $modal-button-width;
        height: $modal-button-height;
        padding: $modal-button-cancel-padding;
        border-radius: $modal-button-border-radius;
        border: $modal-button-border;
        background-color: $modal-button-cancel-background-color;
        margin-right: 16px;
      }

      &._save-button {
        @extend ._buttons;
        clear: both;
        width: $modal-button-width;
        height: $modal-button-height;
        padding: $modal-button-save-padding;
        border-radius: $modal-button-border-radius;
        border: $modal-button-border;
        background: $modal-button-save-background-color;
        color: #FFFFFF;
      }
    }

    ._number-code {
      display: flex;
    }
  }
}

::placeholder {
  font-family: Poppins;
}

.dropdown-option,
.select-menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.select-menu {
  width: 300px;
  margin: 150px auto;

  .select-btn {
    display: flex;
    height: 55px;
    background: #FFFF;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .dropdown-font {
    font-size: 14px;
    color: #555770;
    padding: 8px 12px 8px 12px;
    line-height: 20px;
  }
}
